
.adjust-top{
  margin-top: 8%;
}

.entry-form{
  width: 40%;
}

.dialect-img{
  height: 100px;
  border:solid 1px gold; margin:10px;
  border-radius: 3px;
}

.dialect-small{
  height: 50px;
}

.selected{
  box-shadow:0px 12px 22px 1px #333;
}

.chat-box{
  border: 1px solid lightblue;
  border-radius: 3px;
}

.new_message{
  text-align: center;
}